{% extends "base.html" %}

{% block title %}Customer List{% endblock title %}
{% block content %}


<section class="text-gray-700 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-wrap">
        {% include 'partials/list_register.html' with text='고객' %}
        <div class="flex flex-col w-full">
            <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                <table class="min-w-full divide-y divide-gray-200">
                    {% include 'partials/list_th.html' %}
                    <tbody>
                        {% for customer in customers %}
                            <tr class="bg-white">
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                    <a class="text-blue-500 hover:text-blue-800" href="{% url 'customers:detail-customer' customer.pk %}">{{ customer.name }}</a>
                                </td>                                
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                    {% if customer.gender == 'other' %}기타
                                    {% elif customer.gender == 'female' %}여성
                                    {% elif customer.gender == 'male' %}남성
                                    {% endif %}
                                </td>                                
                                <td class="px-6 py-4 whitespace-nowrap">
                                    {% if customer.group %}
                                        <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                                            {{ customer.group }}
                                        </span>
                                    {% else %}
                                        <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-gray-100 text-gray-800">
                                            소속 그룹 없음
                                        </span>
                                    {% endif %}
                                </td>   
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                    {{ customer.memo|slice:"0:20" }}...
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                    {{ customer.created }}
                                </td>        
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">                                                            
                                    <i class="p-1 fas fa-times text-red-500 cursor-pointer" hx-delete="{{ customer.get_delete_url }}" hx-confirm='Are you sure you want to delete {{ customer.name }}?'></i>
                                </td>                     
                            </tr>

                        {% empty %}
                            <tr class="bg-white">
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                    <p>현재 고객이 없습니다.</p>
                                </td>
                            </tr>                        
                        {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
            </div>
        </div>
        
        {% include "partials/pagination.html" with list=customers %}
  
    </div>
</section>
{% endblock content %}