{% extends 'base.html' %}

{% block title %}회원 상세{% endblock title %}

{% block content %}

    <div class="w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0 lg:w-4/5 mx-auto">
        {% if customer.picture %}
        <div class="w-full flex items-center justify-between">
            <div></div>            
            <img class="w-10 h-10 bg-gray-300 rounded-full flex-shrink-0" src="{{ customer.picture.url }}" alt="">
        </div>
        {% endif %}
        <div class="flex mb-4">
            <a href="#" class="flex-grow text-indigo-500 border-b-2 border-indigo-500 py-2 text-lg px-1">
                상세
            </a>            
            <a href="#" class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">
                정보 수정
            </a>    
        </div>
        
        <div>
            <div class="flex border-t border-gray-300 py-2">    
                <span class="text-gray-500">이름</span>
                <span class="ml-auto text-gray-900">{{ customer.name }}</span>
            </div>
            <div class="flex border-t border-gray-300 py-2">    
                <span class="text-gray-500">성별</span>
                <span class="ml-auto text-gray-900">
                {% if customer.gender == 'femaile' %}여자{% elif customer.gender == 'maile' %}남자{% else %}기타{% endif %}
                </span>
            </div>
            <div class="flex border-t border-gray-300 py-2">    
                <span class="text-gray-500">소속 그룹</span>
                <span class="ml-auto text-gray-900">{{ customer.group }}</span>
            </div>
            <div class="flex border-t border-gray-300 py-2">
                <span class="text-gray-500">출생 년도</span>
                <span class="ml-auto text-gray-900">{{ customer.birth }}</span>
            </div>
            <div class="flex border-t border-gray-300 py-2">
                <span class="text-gray-500">등록 일자</span>
                <span class="ml-auto text-gray-900">{{ customer.created }}</span>
            </div>
            <div class="flex border-t border-b mb-6 border-gray-300 py-2">
                <span class="text-gray-500">수정 일자</span>
                <span class="ml-auto text-gray-900">{{ customer.updated }}</span>
            </div>
            <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 mt-5 shadow px-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">메모</dt>
                <dd class="text-sm font-medium text-gray-500">{{ customer.memo }}<dd>
            </div>
        </div>
    </div>    

{% endblock content %}