{% extends "base.html" %}

{% block title %}Product List{% endblock title %}
{% block content %}
<section class="text-gray-700 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-wrap">
       {% include 'partials/list_register.html' with text='제품' %}
        <div class="flex flex-col w-full">
            <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                <table class="min-w-full divide-y divide-gray-200">
                    {% include 'partials/list_th.html' %}
                    <tbody>
                        {% for product in products %}
                            <tr class="bg-white">
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                    <a class="text-blue-500 hover:text-blue-800" href="#">{{ product.name }}</a>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                    <a class="text-blue-500 hover:text-blue-800" href="#">{{ product.enterprise }}</a>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                    {{ product.won_price }}
                                </td>                                                                                               
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                    {{ product.created }}
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                    <a href="#"><i class="p-1 fas fa-edit text-blue-500 cursor-pointer"></i></a>
                                    <a href="#"><i class="p-1 fas fa-times text-red-500 cursor-pointer"></i></a>
                                </td>                             
                            </tr>

                        {% empty %}
                            <tr class="bg-white">
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                    <p>현재 제품이 없습니다.</p>
                                </td>
                            </tr>                        
                        {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
            </div>
        </div>

        {% include "partials/pagination.html" with list=products %}
        
    </div>
</section>
{% endblock content %}