{% extends "base.html" %}

{% block title %}Sale List{% endblock title %}
{% block content %}
<section class="text-gray-700 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-wrap">        

        {% include 'partials/list_register.html' with text='판매' %}

        <div class="flex flex-col w-full">
            <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                <table class="min-w-full divide-y divide-gray-200">
                    {% include 'partials/list_th.html' %}
                    <tbody>
                        {% for sale in sales %}
                            <tr class="bg-white">
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                    <a class="text-blue-500 hover:text-blue-800" href="{% url 'products:detail-sales' sale.pk %}">{{ sale.product }}</a>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                    {{ sale.get_memo }}                                    
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                    {{ sale.customer }}                                    
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                    {{ sale.won_price }}
                                </td>                                                                                               
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                    {% if sale.pay_way == 'credit' %}카드
                                    {% elif sale.pay_way == 'cash' %}현금
                                    {% endif %}

                                    
                                </td>                                                                                               
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                    {{ sale.created }}
                                </td>                             
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">                                                              
                                    <i class="p-1 fas fa-times text-red-500 cursor-pointer" hx-delete="{{ sale.get_delete_url }}" hx-confirm='Are you sure you want to delete?'></i>
                                </td>
                            </tr>

                        {% empty %}
                            <tr class="bg-white">
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                    <p>현재 제품이 없습니다.</p>
                                </td>
                            </tr>                        
                        {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
            </div>
        </div>        
  
        {% include "partials/pagination.html" with list=sales %}

    </div>
</section>
{% endblock content %}