{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="shortcut icon" href="#">
    {% tailwind_css %}
    <script src="https://unpkg.com/htmx.org@1.6.0"></script>
    <script src="//unpkg.com/alpinejs" defer></script>
    <title>{% block title %}{% endblock title %}</title>    
  </head>
  <body class="max-w-7xl mx-auto">    
    {% block navbar %}{% include 'partials/navbar.html' %}{% endblock navbar %}
    {% block content %}{% endblock content %}
    
    <script>
      document.body.addEventListener("htmx:configRequest", (event)=>{
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}'
      })
    </script>

	</body>
  
</html> 
